<div class="col-md-3 grid-margin stretch-card" #priceCard>
    <div class="card">
      <div class="card-body">
        <p class="card-title text-md-center text-xl-left">{{priceId}}</p>
        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
          <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{price}}</h3>
          <i class="far fa-calendar-alt fa-2x text-muted"></i>
        </div>  
        <p class="mb-0 mt-2 text-danger">0.47% <span class="text-black ml-1"><small>(30 days)</small></span></p>
      </div>
    </div>
  </div>