<div class="content" fxLayout="row wrap">
    <div fxFlex="35%">
        <mat-form-field appearance="fill">
            <mat-label>Quote Currency</mat-label>      
            <mat-select [formControl]="quoteCurrenciesFormControl" (selectionChange)="onFilteredProductList()" multiple>
                <mat-select-trigger>{{quoteCurrenciesFormControl.value ? quoteCurrenciesFormControl.value[0] : ''}}
                    <span *ngIf="quoteCurrenciesFormControl.value?.length > 1">
                        (+{{quoteCurrenciesFormControl.value.length - 1}} {{quoteCurrenciesFormControl.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>             
                <mat-option *ngFor="let quoteCurrency of quoteCurrencies" [value]="quoteCurrency">{{quoteCurrency}}</mat-option>
            </mat-select>      
        </mat-form-field>
    </div>

    <div fxFlex="35%">
        <mat-form-field appearance="fill">
            <mat-label>Product List</mat-label>      
            <mat-select [formControl]="productListFormControl" (selectionChange)="onUpdateSubscribeProductList()" multiple>
                <mat-select-trigger>{{productListFormControl.value ? productListFormControl.value[0] : ''}}
                    <span *ngIf="productListFormControl.value?.length > 1">
                        (+{{productListFormControl.value.length - 1}} {{productListFormControl.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>       
                <mat-option *ngFor="let product of productList" [value]="product">{{product}}</mat-option>
            </mat-select>      
        </mat-form-field>
    </div>

    <div fxFlex="35%">
        <mat-form-field appearance="fill">
            <mat-label>Current Account Asset</mat-label>
            <mat-select [formControl]="currentProductListFormControl" (selectionChange)="onUpdateSubscribeProductList()" multiple>
                <mat-select-trigger>{{currentProductListFormControl.value ? currentProductListFormControl.value[0] : ''}}
                    <span *ngIf="currentProductListFormControl.value?.length > 1">
                        (+{{currentProductListFormControl.value.length - 1}} {{currentProductListFormControl.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>        
                <mat-option *ngFor="let currentAsset of currentProductList" [value]="currentAsset">{{currentAsset}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxFlex="30%">
        <button mat-raised-button color="primary" (click)="subscribe()" [disabled]="subscribeIsDisabled">Subscribe</button>
    </div>
</div>