<div class="content" fxLayout="row wrap">
    <div fxFlex="35%">
        <mat-form-field appearance="fill">
            <mat-label>Quote Currency</mat-label>      
            <mat-select [formControl]="quoteCurrenriesFormControl" (selectionChange)="onFilterAssets()" multiple>
                <mat-select-trigger>{{quoteCurrenriesFormControl.value ? quoteCurrenriesFormControl.value[0] : ''}}
                    <span *ngIf="quoteCurrenriesFormControl.value?.length > 1">
                        (+{{quoteCurrenriesFormControl.value.length - 1}} {{quoteCurrenriesFormControl.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>             
                <mat-option *ngFor="let quoteCurrency of quoteCurrencies" [value]="quoteCurrency">{{quoteCurrency}}</mat-option>
            </mat-select>      
        </mat-form-field>
    </div>

    <div fxFlex="35%">
        <mat-form-field appearance="fill">
            <mat-label>All Assets</mat-label>      
            <mat-select [formControl]="assetListFormControl" multiple>
                <mat-select-trigger>{{assetListFormControl.value ? assetListFormControl.value[0] : ''}}
                    <span *ngIf="assetListFormControl.value?.length > 1">
                        (+{{assetListFormControl.value.length - 1}} {{assetListFormControl.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>
                
                <mat-option *ngFor="let asset of assetList" [value]="asset">{{asset}}</mat-option>
            </mat-select>      
        </mat-form-field>
    </div>

    <div fxFlex="35%">
        <mat-form-field appearance="fill">
            <mat-label>Assets</mat-label>
            <mat-select [formControl]="currentCurrenriesFormControl" multiple>
                <mat-select-trigger>{{currentCurrenriesFormControl.value ? currentCurrenriesFormControl.value[0] : ''}}
                    <span *ngIf="currentCurrenriesFormControl.value?.length > 1">
                        (+{{currentCurrenriesFormControl.value.length - 1}} {{currentCurrenriesFormControl.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>        
                <mat-option *ngFor="let currentAsset of currentAssetList" [value]="currentAsset">{{currentAsset}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxFlex="30%">
        <button mat-raised-button color="primary" (click)="subscribe()">Subscribe</button>
    </div>
</div>