html, body
    background-size: cover
    background-repeat: no-repeat
    height: 100%
    background-color: #a9a9a9

.table-wrap
    word-wrap: break-word
    max-width: 768px

.table-btn-max-width
    word-wrap: break-word
    max-width: 100px

.navbar-brand
    padding-top: .75rem
    padding-bottom: .75rem
    font-size: 1rem
    background-color: rgba(0, 0, 0, 0.25)
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25)

.sidebar-bg-custom
    background-color: #f5f5f5

.nav-item
    padding-bottom: 0.25rem !important
    &:hover
        background-color: #e5e5e5
        border: 1px solid #e5e5e5

.nav-link
    width: 100%
    font-weight: 500
    color: #333
    &.active
        color: #007bff
    &:hover
        color: inherit
