<!--Header Navigation-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-md-2 mr-0" routerLink="/">Exchange</a>
</nav>
<!--End Header Navigation-->
<!--Page Body-->
<div class="container-fluid container-bg-custom">
    <div class="row h-100">
        <!--Side Bar-->
        <div class="col-md-2 sidebar-bg-custom">
            <nav class="navbar-expand">
                <div class="collapse navbar-collapse">
                    <ul class="nav flex-column w-100 py-1">
                        <li class="nav-item">
                            <a class="nav-link py-1 active" routerLink="/">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--End Side Bar-->
        <!--Main-->
        <div class="col-md-10 py-1 main-bg-custom">
            <div class="col-md-12 py-3">
                <div class="col-md-12 py-3">

                    <div class="row">
                        <div class="col-md-12 grid-margin">
                          <div class="card">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-3 col-md-6">
                                  <div class="d-flex">
                                    <div class="wrapper">
                                      <h3 class="mb-0 font-weight-semibold">32,451</h3>
                                      <h5 class="mb-0 font-weight-medium text-primary">Visits</h5>
                                      <p class="mb-0 text-muted">+14.00(+0.50%)</p>
                                    </div>
                                    <div class="wrapper my-auto ml-auto ml-lg-4">
                                      <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                          <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                          <div class="">
                                          </div>
                                        </div>
                                      </div>
                                      <canvas height="75" width="150" id="stats-line-graph-1" class="chartjs-render-monitor" style="display: block; height: 50px; width: 100px;"></canvas>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                  <div class="d-flex">
                                    <div class="wrapper">
                                      <h3 class="mb-0 font-weight-semibold">15,236</h3>
                                      <h5 class="mb-0 font-weight-medium text-primary">Impressions</h5>
                                      <p class="mb-0 text-muted">+138.97(+0.54%)</p>
                                    </div>
                                    <div class="wrapper my-auto ml-auto ml-lg-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                      <canvas height="75" width="150" id="stats-line-graph-2" class="chartjs-render-monitor" style="display: block; height: 50px; width: 100px;"></canvas>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                  <div class="d-flex">
                                    <div class="wrapper">
                                      <h3 class="mb-0 font-weight-semibold">7,688</h3>
                                      <h5 class="mb-0 font-weight-medium text-primary">Conversation</h5>
                                      <p class="mb-0 text-muted">+57.62(+0.76%)</p>
                                    </div>
                                    <div class="wrapper my-auto ml-auto ml-lg-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                      <canvas height="75" width="150" id="stats-line-graph-3" class="chartjs-render-monitor" style="display: block; height: 50px; width: 100px;"></canvas>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                                  <div class="d-flex">
                                    <div class="wrapper">
                                      <h3 class="mb-0 font-weight-semibold">1,553</h3>
                                      <h5 class="mb-0 font-weight-medium text-primary">Downloads</h5>
                                      <p class="mb-0 text-muted">+138.97(+0.54%)</p>
                                    </div>
                                    <div class="wrapper my-auto ml-auto ml-lg-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                      <canvas height="75" width="150" id="stats-line-graph-4" class="chartjs-render-monitor" style="display: block; height: 50px; width: 100px;"></canvas>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-3 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <p class="card-title text-md-center text-xl-left">Sales</p>
                              <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">34040</h3>
                                <i class="far fa-calendar-alt fa-2x icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                              </div>  
                              <p class="mb-0 mt-2 text-danger">0.12% <span class="text-black ml-1"><small>(30 days)</small></span></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <p class="card-title text-md-center text-xl-left">Revenue</p>
                              <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">47033</h3>
                                <i class="far fa-calendar-alt fa-2x text-muted"></i>
                              </div>  
                              <p class="mb-0 mt-2 text-danger">0.47% <span class="text-black ml-1"><small>(30 days)</small></span></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <p class="card-title text-md-center text-xl-left">Downloads</p>
                              <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">40016</h3>
                                <i class="far fa-calendar-alt"></i>
                              </div>  
                              <p class="mb-0 mt-2 text-success">64.00%<span class="text-black ml-1"><small>(30 days)</small></span></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <p class="card-title text-md-center text-xl-left">Returns</p>
                              <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">61344</h3>
                                <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                              </div>  
                              <p class="mb-0 mt-2 text-success">23.00%<span class="text-black ml-1"><small>(30 days)</small></span></p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                              <p class="card-title">Sales details</p>
                              <p class="text-muted font-weight-light">Received overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
                              <div id="sales-legend" class="chartjs-legend mt-4 mb-2"><ul class="1-legend"><li><span style="background-color:#8EB0FF"></span>Offline Sales</li><li><span style="background-color:#316FFF"></span>Online Sales</li></ul></div>
                              <canvas id="sales-chart" width="526" height="262" class="chartjs-render-monitor" style="display: block; height: 175px; width: 351px;"></canvas>
                            </div>
                            <div class="card border-right-0 border-left-0 border-bottom-0">
                              <div class="d-flex justify-content-center justify-content-md-end">
                                <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                  <button class="btn btn-lg btn-outline-light dropdown-toggle rounded-0 border-top-0 border-bottom-0" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Today
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(170px, 58px, 0px);">
                                    <a class="dropdown-item" href="#">January - March</a>
                                    <a class="dropdown-item" href="#">March - June</a>
                                    <a class="dropdown-item" href="#">June - August</a>
                                    <a class="dropdown-item" href="#">August - November</a>
                                  </div>
                                </div>
                                <button class="btn btn-lg btn-outline-light text-primary rounded-0 border-0 d-none d-md-block" type="button"> View all </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 grid-margin stretch-card">
                          <div class="card border-bottom-0"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <div class="card-body pb-0">
                              <p class="card-title">Purchases</p>
                              <p class="text-muted font-weight-light">The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime you reach a review</p>
                              <div class="d-flex flex-wrap mb-5">
                                <div class="mr-5 mt-3">
                                  <p class="text-muted">Status</p>
                                  <h3>362</h3>
                                </div>
                                <div class="mr-5 mt-3">
                                  <p class="text-muted">New users</p>
                                  <h3>187</h3>
                                </div>
                                <div class="mr-5 mt-3">
                                  <p class="text-muted">Chats</p>
                                  <h3>524</h3>
                                </div>
                                <div class="mt-3">
                                  <p class="text-muted">Feedbacks</p>
                                  <h3>509</h3>
                                </div> 
                              </div>
                            </div>
                            <canvas id="order-chart" class="w-100 chartjs-render-monitor" style="display: block; height: 197px; width: 396px;" width="594" height="295"></canvas>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                          <div class="card position-relative">
                            <div class="card-body">
                              <p class="card-title">Detailed Reports</p>
                              <div class="row">
                                <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-center">
                                  <div class="ml-xl-4">
                                    <h1>33500</h1>
                                    <h3 class="font-weight-light mb-xl-4">Sales</h3>
                                    <p class="text-muted mb-2 mb-xl-0">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p>
                                  </div>  
                                </div>
                                <div class="col-md-12 col-xl-9">
                                  <div class="row">
                                    <div class="col-md-6 mt-3 col-xl-5"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                      <canvas id="north-america-chart" width="561" height="280" class="chartjs-render-monitor" style="display: block; height: 187px; width: 374px;"></canvas>
                                      <div id="north-america-legend"><div class="report-chart"><div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: #71c016"></div><p class="mb-0">Offline sales</p></div><p class="mb-0">22789</p></div><div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: #8caaff"></div><p class="mb-0">Online sales</p></div><p class="mb-0">94678</p></div><div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: #248afd"></div><p class="mb-0">Returns</p></div><p class="mb-0">12097</p></div></div></div>
                                    </div>
                                    <div class="col-md-6 col-xl-7">
                                      <div class="table-responsive mb-3 mb-md-0">
                                        <table class="table table-borderless report-table">
                                          <tbody><tr>
                                            <td class="text-muted">Illinois</td>
                                            <td class="w-100 px-0">
                                              <div class="progress progress-md mx-4">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                              </div>
                                            </td>
                                            <td><h5 class="font-weight-bold mb-0">524</h5></td>
                                          </tr>
                                          <tr>
                                            <td class="text-muted">Washington</td>
                                            <td class="w-100 px-0">
                                              <div class="progress progress-md mx-4">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                              </div>
                                            </td>
                                            <td><h5 class="font-weight-bold mb-0">722</h5></td>
                                          </tr>
                                          <tr>
                                            <td class="text-muted">Mississippi</td>
                                            <td class="w-100 px-0">
                                              <div class="progress progress-md mx-4">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                              </div>
                                            </td>
                                            <td><h5 class="font-weight-bold mb-0">173</h5></td>
                                          </tr>
                                          <tr>
                                            <td class="text-muted">California</td>
                                            <td class="w-100 px-0">
                                              <div class="progress progress-md mx-4">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                              </div>
                                            </td>
                                            <td><h5 class="font-weight-bold mb-0">945</h5></td>
                                          </tr>
                                          <tr>
                                            <td class="text-muted">Maryland</td>
                                            <td class="w-100 px-0">
                                              <div class="progress progress-md mx-4">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                              </div>
                                            </td>
                                            <td><h5 class="font-weight-bold mb-0">553</h5></td>
                                          </tr>
                                          <tr>
                                            <td class="text-muted">Alaska</td>
                                            <td class="w-100 px-0">
                                              <div class="progress progress-md mx-4">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                              </div>
                                            </td>
                                            <td><h5 class="font-weight-bold mb-0">912</h5></td>
                                          </tr>
                                        </tbody></table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> 
                </div>
            </div>
        </div>
        <!--End Main-->
    </div>
</div>
<!--End Page Body-->