.container-bg-custom {
    background-color: #f3f3f3;
    height: calc(100vh - 40px);
}
.main-bg-custom {
    background-color: rgb(149, 158, 168);
}
.sidebar-bg-custom {
    background-color: rgb(228, 231, 233);
}

.nav-item a:hover {
    background-color: rgb(149, 158, 168);
}

.nav-item a:hover:active {
    color: white;
}